/examples/solara/solara-test-portal/
/keys/
/.idea/
/tests/pippo/
*checkpoint.*
/user_notebooks/BEATS_recon-phase_20235010.ipynb
/user_notebooks/BEATS_recon-phase_AlHandawi.ipynb
/user_notebooks/BEATS_recon_20235163.ipynb
/user_notebooks/BEATS_recon_20240222-glass_petra+samah.ipynb
/user_notebooks/BEATS_recon_20240227_20235125_neva.ipynb
/user_notebooks/BEATS_recon_20240229_gonca_egyptian_blue.ipynb
/user_notebooks/BEATS_recon_20235212.ipynb
/user_notebooks/BEATS_recon_20240513_20235045_mahnke.ipynb
*.DS_Store
.gitignore
